
# One of 'error', 'warn', 'info', 'verbose', debug', 'silly'
loglevel: 'warn'
# One of value-only, full
#    value-only - converts any known group addresses to its value
#    full - a json object containing value. Additionally also name and unit type for known group addresses.
messageType: value-only
# Ignore unknown group addresses
ignoreUnknownGroupAddresses: false
knx:
    # ETS exported group addresses
    etsExport: 'knx.xml'
    # Configuration passed to the KNX library
    options:
mqtt:
    # URL to MQTT broker
    url: 'mqtt://localhost'
    # Configuration passed to the MQTT library
    options:
        username: 'mqtt_username'
        password: 'mqtt_password'
    # Prefix to mqtt topic
    topicPrefix: 'knx'
